<div class="content">
    <div class="box" ng-repeat="key in shopInfo" item="item" index="{{index}}">
        <h1 class="box-tit">
            <i class="icon iconfont icon-shouye"></i>
            {{key.name}}
            <i class="icon iconfont icon-angle-right"></i>
        </h1>
        <ul class="list">
            <li class="items">
                <label class="checkbox">
                    <input type="checkbox" checked>
                </label>
                <img ng-src="{{key.image}}">
                <h1>
                    <p class="tit">{{key.title}}</p>
                    <p class="color">{{key.color}}</p>
                    <p class="price">{{key.price}}</p>
                    <p>
                        <span class="reduce" ng-click="itemCount('-')">-</span>
                        <span class="count">{{key.num}}</span>
                        <span class="add" ng-click="itemCount('+')">+</span>
                    </p>
                </h1>

            </li>
        </ul>
    </div>
    <div class="con-bottom">
        <p class="count">
            <label class="checkbox"><input type="checkbox" checked><span>全选</span></label>
        </p>
        <p class="btns"><button>结算(<span>0</span>)</button></p>
    </div>
</div>